<div>
  <h1>Angular2 stopwatch sample</h1>
  <p class="time">{{formattedTime()}}</p>
  <div class="buttons">
    <button (click)="isWatching() ? stop() : start()">
      {{isWatching() ? 'stop' : 'start'}}
    </button>
    <button (click)="isWatching() ? lap() : clear()">
      {{isWatching() ? 'lap' : 'clear'}}
    </button>
  </div>
  <table *ngIf="laps.length > 0">
    <thead>
    <th>#</th>
    <th>time</th>
    </thead>
    <tbody>
    <tr *ngFor="let lap of laps; let index = index;">
      <td>{{index + 1}}</td>
      <td>{{lap}}</td>
    </tr>
    </tbody>
  </table>
</div>
